
body{
margin:0;
padding:0;
font-family:sans-serif;
background: url(uuu.JPG) no-repeat;
background-size: cover;
}
.login-box{
width: 280px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
color: red;
}
.login-box h1{
float: left;
font-size: 40px;
border-bottom: 6px solid green;
margin-bottom: 50px;
padding: 13px  0;
}