body{
margin:0;
padding:0;
text-align:center;
background:url(pp.JPG);
background-size:cover;
font-family:Century Gothic;
}
.title{
margin-top:100px;
color:red;
} 
.title h1{
font-size:32px;
line-height:10px;
}
.title h2{
color:red;
font-size:16px;
}
form{
margin-top:50px;
}
.form-control{
width:600px;
background:transparent;
border:none;
border-bottom:1px solid yellow;
color:red;
font-size:18px;
margin-bottom:16px;
}
input{
height:45px;
}
form.submit{
background-color:white;
border-color:transparent;
color:yellow;
font-size:20px;
letter-spacing:2px;
height:50px;
margin-top:20px;
transition:0.4s ease;
}
form.submit:hover{
background-color:yellow;
cursor:pointer;
}